#logo-image {
  height: 5rem;
}

body {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  padding: 2rem 4rem;
  background-color: white;
}

.navbar-brand {
  font-weight: 800;
  font-size: 2rem;
}

.nav-link {
  margin: auto;
  font-weight: 400;
  font-size: 1.2rem;
  color: #989898;
}

.nav-link:last-child {
  margin-right: 2.5rem;
}

.btn {
  margin: 0 0.5rem;
  height: 4rem;
  width: 8rem;
  border-radius: 2rem;
  border-width: 2px;
  font-weight: 600;
  padding: auto 1rem;
  font-size: 1.2rem;
}

#intro-container{
  /* margin-top: 9rem; */
  height: 90vh;
  padding: 9rem 0;
}

#school-section{
  padding: 9rem 0;
}
/* text-styling below:*/
.grey-text{
  color: rgb(189, 184, 184);
}
.title{
  font-family: 'Open Sans', sans-serif;
  font-weight:bolder;
}
/* text-styling end*/

.intro-img-grp{
  height: 241px;
  margin: 10px;
  width: 100px;
  background-color: green;
}
.circle-img{
  border-radius: 50%;
}
.intro-first{
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.intro-fourth{
   border-top-right-radius: 20px;
  border-bottom-right-radius: 100%; 
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.intro-section-btn{
  padding: 10px 10px;
  margin: 10px;
}
.join-with-us{
  height: 50px;
  width: 9rem;
  border-radius: 25px;
  border: none;
  color: white;
  font-family:'Open Sans', sans-serif;
  font-weight:700;
  border: 2px solid #1479f4;
  background-color:#1479f4;
  transition: all 0.15s;
}
.join-with-us:hover{
  color: #1479f4;
  background-color: white;
  font-weight: 700;
}
.learn-more{
  height: 50px;
  width: 9rem;
  border-radius: 25px;
  border: 2px solid #1479f4; ;
  color: #1479f4;
  font-family:'Open Sans', sans-serif;
  font-weight:700;
  background-color: white;
  transition: all 0.15s;
}
.learn-more:hover{
  background-color: #1479f4;
  color: white;
}
.intro-stats{
  margin: 30px auto 0px;
  display: flex;
  justify-content: space-evenly;
}
.intro-stats span h3, .intro-stats span p{
  font-weight: 700;
}
/* School section below */
.greybox{
  padding: 3rem;
  position: relative;
  width: 90vw;
  margin: 0 auto;
  background-color: hsl(0, 0%, 95%);
  text-align: center;
  border-radius: 10px;
}
.greybox img{
  position: relative;
  margin: 0 auto;
  padding: 10px;
}
.greybox .row{
  display: flex;
  justify-content: space-around;
}
.greybox h3{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:600;
}
.greybox .col{
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}
.greybox .col:hover{
  transform: translateY(-10px);
}
